<a href="#!/reservations">Go Back</a>
<div class="panel panel-default" ng>
  <div class="panel-heading">
    <h3 class="panel-title">Edit Reservation</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateReservation()" ng-init="getReservation()">
        
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="reservation.name" placeholder="Name">
        </div>

        <div class="form-group">
          <label>Student ID</label>
          <input type="text" class="form-control" ng-model="reservation.st_id" placeholder="Student ID">
        </div>

        <div class="form-group">
          <label>Room</label>
          <select ng-model="reservation.room" class="form-control">
            <option value="Office Room 1">Office Room 1</option>
            <option value="Office Room 2">Office Room 2</option>
            <option value="Conference Hall">Conference Hall</option>
            <option value="Gym">Gym</option>
          </select>
        </div>

        <div class="form-group">
          <label>Timeslot</label>
          <select ng-model="reservation.timeslot" class="form-control">
            <option value="09:30 - 12:00">09:30 - 12:00</option>
            <option value="12:30 - 15:00">12:30 - 15:00</option>
            <option value="15:30 - 18:00">15:30 - 18:00</option>
            <option value="18:30 - 21:00">18:30 - 21:00</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Details</label>
          <input type="text" class="form-control" ng-model="reservation.details" placeholder="Details">
        </div>
     
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>